<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>404</title>
        <link rel="icon" href="./imagens/clima.png">
        <link rel="stylesheet" href="./css/estilos.css">
        
    </head>

    <body>

         <div class="conteudo-principal">
             {{>cabecalho}}
             <p>{{mensagemErro}}</p>
         </div>
         
         {{>rodape}}
    </body>
</html>






