<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clima</title>
        <link rel="icon" href="./imagens/clima.png">
        <link rel="stylesheet" href="./css/estilos.css">
        <script src="./js/aplicacao.js"></script>
    </head>

    <body>

          <div class="conteudo-principal">
              {{>cabecalho}}
              <p>Use este site para acessar seu clima!</p>
          </div>
         
         {{>rodape}}
    </body>
</html>