<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet" href="./css/estilos.css">
    </head>

    <body>

         <div class="conteudo-principal">
              {{>cabecalho}}
              <img class="retrato" src="./imagens/robo.jpg" >
         </div>
         
         {{>rodape}}
    </body>
</html>
