body {
    color: rgb(39, 39, 39);
    font-family: arial;
    max-width: 650px;
    border: 1px solid orange;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
}

footer {
    
    font-weight: bolder;
    color: rgb(78, 25, 104);
    border-top: 1px solid green;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

.retrato {
    width: 250px;
    height: 250px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
    color: cadetblue;
}

header a {
    color: darkslategrey;
    margin-right: 16px;
    text-decoration: none;
}

header a:hover {
    text-decoration-line: underline;
    color: blue;
    
}

.conteudo-principal {

}









